.footer {
  &__cant-sign-in {
    text-decoration: none;
    font-size: 14px;
    color: rgba(35, 90, 222, 1);
    position: absolute;
    top: 90%;
    left: 24%;
  }

  &__slider {
    width: 366px;
    position: absolute;
    top: 90%;
    left: 17%;
  }
}
