.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ececf2;
  border-radius: 20px;
  color: #3a3a3a;
  padding: 32px 48px;
  grid-column: 2/7;
  margin-bottom: 50px;
  position: relative;

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 32px;
  }

  &__label {
    font-weight: 400;
    font-size: 12px;
  }

  &__input {
    border: 1px solid #cfcfde;
    border-radius: 10px;
    height: 40px;
    width: 333px;
    margin-block: 10px 16px;
    padding-left: 24px;

    &:hover {
      border-color: rgba(166, 188, 242, 1);
    }
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & > a {
      color: rgba(35, 90, 222, 1);
    }
  }

  &__robot {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(207, 207, 222, 1);
    padding: 24px 28px;
    margin-top: 16px;
  }

  &__image {
    height: 72px;
    width: 72px;
  }

  &__cant-sign-in {
    text-decoration: none;
    font-size: 14px;
    color: rgba(35, 90, 222, 1);
    position: absolute;
    text-align: center;
    top: 105%;
    transition: transform 150ms;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__slider {
    height: 24px;
    position: absolute;
    top: 105%;

    &--less-space {
      top: 115%;
    }
  }
}
