.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding-inline: 80px;
  margin-top: 64px;

  &__logo {
    height: 32px;
    width: 32px;
    transition: transform, 300ms;

    &:hover {
      transform: scale(1.2);
    }
  }
}
